*{
    box-sizing: border-box;
    padding: 0px;
}
.inner{
    margin: auto;
    display: flex;
    justify-content: center;
    width: fit-content;
    align-items: center;
    margin-top: 10%;
} 
.inputBox{
display: flex;
width: 100%;
justify-content: center;
}
.inputField{
    margin: 10px;
}
h1{
    position: absolute;
    top:50%;
    left: 50%;
}
.searchBtn{
    cursor: pointer;
    width:350px;
    background-color: #343a40;
    color: whitesmoke;
    font-weight: 700;
}