*{
    box-sizing: border-box;
    padding: 0;
}
.menu{
    font-size: 1.5vw;
    cursor: pointer;
    margin-left: 1vw;
}

.linkBar{
    text-decoration: none;
}
.menuTitle{
    font-size: 2vw;
}
.menuTitle span{
    color: white;
    font-weight: bold;
}
#linkBar{
    width: 170px;
    display: flex;
    justify-content: space-between;
}

#linkBar li span{
    color: white;
    font-weight: bold;
}
